<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.learn.firebasechatapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseChatApp">
        <activity
            android:name=".userinfo.DeleteUserAccount"
            android:exported="true"/>
        <activity
            android:name=".userinfo.ChangeUserUsername"
            android:exported="true"/>
        <activity
            android:name=".userinfo.ChangeUserPhoneNumber"
            android:exported="true"/>
        <activity
            android:name=".userinfo.ChangeUserGender"
            android:exported="true"/>
        <activity
            android:name=".userinfo.ChangeUserBio"
            android:exported="true"/>
        <activity
            android:name=".signinup.VerifyEmail"
            android:exported="true"/>
        <activity
            android:name=".UserProfile"
            android:exported="true"/>
        <activity
            android:name=".IntroScreen"
            android:exported="true"
            android:theme="@style/SplashScreen"/>
        <activity
            android:name=".getstarted.InitialSignUp"
            android:exported="true"/>
        <activity
            android:name=".getstarted.GetStarted"
            android:exported="true"/>
        <activity
            android:name=".signinup.SignUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".signinup.SignIn"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
    </application>

</manifest>